.btnCategori {
  min-width: 46px !important;
}

@media only screen and (max-width: 768px) {
  .btnCategori {
    font-size: 12px !important;
    min-width: 30px !important;
  }

  .imgCategori {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 375px) {
  .btnCategori {
    font-size: 11px !important;
    min-width: 25px !important;
  }

  .imgCategori {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}
